{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue !</h1>
  <p class="lead">Cette application web a pour but de répertorier tous les commerçants qui te seraient peut-être inconnus en fonction des produits que ceux-ci proposent. </br>
  Tu peux créer tes catégories ainsi que tes propres annonces pour partager tes trouvailles/conseils!</p>
  <hr class="my-4">
</div>
{% endblock %} 